<header>
	<a href="/" class="logo" aria-label="Guardians Foundation's home page">G</a>
	<nav>
		<a href="/">home</a>
		<a href="/about" {% if page.url === '/about/' %}class="current"{% endif %}>about</a>
		{#<a href="/blog" {% if page.url === '/blog/' %}class="current"{% endif %}>blog</a>#}
	</nav>
</header>
