<section class="text-center new-section">
	<p><a href="https://forms.gle/bG8SzE3jAmjRTV3r7" target="_blank" rel="noreferrer noopener">subscribe</a> to our announcements</p>
	{% if page.url === '/about/' %}<p>join the <a href="https://forms.gle/F28uSMhHxt3dcPwP8" target="_blank" rel="noreferrer noopener">volunteer pool</a></p>{% endif %}
</section>
