---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}'s blog</title>
  <subtitle>Updates and thoughts from {{ site.name }}</subtitle>
  <link href="{{ site.feedUrl }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{%- if post.data.lastUpdatedAt -%}
    	{{ post.data.lastUpdatedAt | rssDate }}
    {%- elif post.data.publishedAt -%}
    	{{ post.data.publishedAt | rssDate }}
    {%- else -%}
    	{{ post.date | rssDate }}
    {%- endif %}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
