<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{%- if title -%}{{ title }} | {{ site.name }}{%- else -%}{{ site.name }}{%- endif -%}</title>
		<meta name="description" property="og:description" content="Guardians Foundation explores and furthers the mission of abolishing and guarding against suffering.">
		<meta name="keywords" content="non-profit,think tank,suffering-focused,suffering,ethics,research,charity,consulting,deep future,transhumanism,altruism,secular,technology">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- TODO <meta property="og:image" content=""> -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5555cb">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/common.css" rel="stylesheet">
		{%- if cssPath -%}<link href="{{ cssPath }}" rel="stylesheet">{%- endif -%}
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
