---
layout: base
---
{% include "components/navHeader.njk" %}

<main>
	<article>
		<h1>{{ title }}</h1>
		{% if publishedAt %}
			<time datetime="{{ publishedAt | htmlDateString }}" class='smaller-text'>{{ publishedAt | readableDate }}</time>
		{% endif %}
		{% if lastUpdatedAt %}
			<span class='smaller-text'>(last update: <time datetime="{{ lastUpdatedAt | htmlDateString }}">{{ lastUpdatedAt | readableDate }}</time>)</span>
		{% endif %}
		{{ content | safe }}
	</article>

	<a href="/blog/">all posts</a>

	{% include "components/subscribeSection.njk" %}
</main>


{% include "components/footer.njk" %}
