@font-face {
  font-family: "Montserrat Subrayada";
  font-style: normal;
  font-weight: 400;
  src: local("MontserratSubrayada-Regular"),
    /* FIXME subset & serve from own domain */
      url(https://fonts.gstatic.com/s/montserratsubrayada/v9/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQH8MaOY.woff2)
      format("woff2");
  unicode-range: U+0047;
}

:root {
  --size: 20px;
  --big: 1.45rem;
  --bigger: 1.6rem;
  --biggest: 2rem;
  --huge: 2.8rem;
  --font: sans-serif;
  --logo-font: "Open Sans", sans-serif;
  --thinnest: 50;
  --letter-spacing-xl: 0.32rem;
  --line-height: 1.55;
  --line-height-bigger: 31px;

	--logo-sz: 2.1rem;

  --spacing-sm: 0.3rem;
  --spacing-big: 2rem;
  --spacing-bigger: 2.3rem;

	--line-width: 59ch;

  --light-grey: #aaa;
  --dark-grey: #555;
  --logo-clr: #b9b5b5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: var(--dark-grey);
  font-family: var(--font);
  font-size: var(--size);
  margin: 0 var(--spacing-sm);
}

header {
  display: flex;
  margin: 0 0.5rem 2rem;
}
header a {
  color: var(--light-grey);
  font-size: var(--big);
  padding: 1.5rem 0.9rem 0.9rem;
  text-decoration: none;
}
header nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
header .logo {
  font-size: var(--logo-sz);
  margin-right: auto;
}

main, section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

a,
a:hover,
a.current {
  color: var(--dark-grey);
  transition: color 0.2s ease-out;
}

article {
	margin-bottom: var(--biggest);
}
article h1, article h2, article h3, article h4 {
	font-weight: 400;
}
article h1:not(:first-child), article h2, article h3, article h4 {
  margin-top: 4rem;
}
article h1 {
	font-size: var(--biggest);
}
article h3 {
	font-size: var(--bigger);
}
article h4 {
	font-size: var(--big);
}
article p:first-of-type {
	padding-top: var(--spacing-big);
}
article p + p {
  margin-top: var(--spacing-bigger);
}
article li + li {
  margin-top: 1rem;
}
article li:last-child {
  margin-bottom: var(--spacing-big);
}

article, p {
  width: var(--line-width);
}
p {
  max-width: 100%;
  line-height: var(--line-height);
}

footer {
  margin-top: auto;
  padding: 5.5rem 0 2.5rem;
}
footer section {
  margin-bottom: 1.2rem;
}

hr {
	background: var(--light-grey);
	border: 0;
	color: var(--light-grey);
	height: 1px;
}

.logo {
  color: var(--logo-clr);
  font-display: block;
  font-family: "Montserrat Subrayada";
}

.social-link {
  padding: 0.5rem 0.4rem 0.2rem;
}
.social-link svg {
  height: 1.6rem;
  width: 1.6rem;
}

.new-section {
  margin-top: 2.5rem;
}

.bold {
	font-weight: bold;
}
.no-underline {
	text-decoration: none;
}
.smaller-text {
	font-size: 0.95rem;
}
.text-center {
  text-align: center;
}
