.logo-text {
  color: var(--light-grey);
  font-family: var(--logo-font);
  font-weight: 100;
  letter-spacing: var(--letter-spacing-xl);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22vmin;
  min-height: 80vh;
}
.hero h1 {
  font-size: var(--huge);
}
.hero-text {
  font-size: var(--big);
  line-height: var(--line-height-bigger);
  margin-top: 4rem;
  width: auto;
}
