---
layout: base
title: about
---
{% include "components/navHeader.njk" %}

<section>
	<p>Guardians Foundation (GF) is a think-and-do tank for realizing projects related to developing and promoting an ethical framework that prioritizes reduction and prevention of intense suffering.</p>

	<p>“Guardians” comes from a vision (hinted in the teaser website <a href='https://guardians.gdn/' target="_blank">guardians.gdn</a>) of a future civilization whose explicit purpose is to guard sentience against extreme suffering in the [amoral] universe.</p>

	<p>GF, while aspiring to the principles of <a href="https://www.effectivealtruism.org/" target="_blank">effective altruism</a>, takes a more speculative and explorative approach (but still reasonably cautious: as per e.g. 80,000 Hours’ <a href="https://80000hours.org/articles/accidental-harm/" target="_blank">“Ways people trying to do good accidentally make things worse, and how to avoid them”</a>), as it sees may be justified by unknowns of its long-term perspective, the fresh start, and self-fulfilling prophecy effects.</p>
</section>

{% include "components/subscribeSection.njk" %}

{% include "components/footer.njk" %}
