---
layout: base
title: blog
cssPath: /styles/blog.css
---
{% include "components/navHeader.njk" %}

<main>
	<ol class="index-list">
	{% for post in collections.posts %}
	  <li>
	    <a href="{{ post.url }}"><h2>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2></a>
			{% if post.data.publishedAt %}
				<time datetime="{{ post.data.publishedAt | htmlDateString }}" class='smaller-text'>{{ post.data.publishedAt | readableDate }}</time>
			{% endif %}
	    {% if post.data.lastUpdatedAt %}
	    	<span class='smaller-text'>(last update: <time datetime="{{ post.data.lastUpdatedAt | htmlDateString }}">{{ post.data.lastUpdatedAt | readableDate }}</time>)</span>
	    {% endif %}
			{# FIXME display tags #}
			{# {% for tag in post.data.tags %}
	      {%- if collections.tagList.includes(tag) -%}
	      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
	      <a href="{{ tagUrl }}">{{ tag }}</a>
	      {%- endif -%}
	    {% endfor %} #}
			<a href="{{ post.url }}" class="no-underline"><p>{% summary post %} <span class="bold">...</span></p></a>
	  </li>
	{% endfor %}
	</ol>

	{% include "components/subscribeSection.njk" %}
</main>

{% include "components/footer.njk" %}
