---
layout: base
cssPath: /styles/index.css
---
<section class='hero text-center'>
	<h1 class='logo-text'>Guardians Foundation</h1>
	<p class="hero-text">we explore and further the mission of abolishing and guarding against suffering</p>
</section>

<section class="text-center">
	<p>learn <a href="/about">more</a></p>
</section>

{% include "components/subscribeSection.njk" %}

{% include "components/footer.njk" %}
