---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{%- if page.data.lastUpdatedAt -%}
    	{{ page.data.lastUpdatedAt | htmlDateString }}
    {%- elif page.data.publishedAt -%}
    	{{ page.data.publishedAt | htmlDateString }}
    {%- else -%}
    	{{ page.date | htmlDateString }}
    {%- endif %}</lastmod>
  </url>
{%- endfor %}
</urlset>
